<streams>
<immutable_stream name="input"
                  type="input"
                  precision="single"
                  filename_template="x1.#RES#.static.nc"
                  input_interval="initial_only" />

<immutable_stream name="output"
                  type="output"
                  filename_template="x1.#RES#.init.nc"
                  packages="initial_conds"
                  output_interval="initial_only" />

</streams>
